.btn {
  display: inline-block;
  min-width: 110px;
  margin: 15px 5px;
  padding: 10px 15px;
  font: 400 13px/1 'Droid Sans', sans-serif;
  border-radius: 3px;
  border: 0;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  
  // States
  &:focus,
  &:active {
    outline: none;
  }
  // Modifications

  &.btn-blue {
    background: #59d;
    &:hover {
      background: #48c;
    }
  }
  &.btn-red {
    background: #d33;
    &:hover {
      background: #c22;
    }
  }
  &.btn-green {
    background: #6b6;
    &:hover {
      background: #5a5;
    }
  }
}

.search-controls {
  padding: 20px;
  .search-input {
    padding: 10px 5px 10px 10px;
    min-width: 200px;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 3px rgba(0,0,0,.2);
    // State
    &:focus { outline: none; }
  }
}